# .gitignore for Python project
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
*.venv
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# Spyder
.spyderproject
.spyproject

# macOS
.DS_Store

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Distribution / packaging
*.egg-info/
dist/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
.Python
pip-delete-this-directory.txt

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
